@page "/page"
@namespace Components.Pages
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using Rubrica.Data
@inject IJSRuntime JS
@inject IDbContextFactory<DataContext> DbFactory

<EditForm Model="@tipoContatto" OnValidSubmit="@Submit">
	<p>
		<label for="telefono" >Telefono: </label>
		<input id="telefono" @bind-value="tipoContatto.telefono"/>
	</p>
	<p>
		<label for="email">Email: </label>
		<input id="email" @bind-value="tipoContatto.email"/>
	</p>

	<button type="submit">submit</button>
</EditForm>

@code {
	private TipoContatto tipoContatto = new TipoContatto();
	private DbContext Context;
	protected override async Task OnInitializedAsync()
	{

	}

	private async Task Submit()
	{
		try
		{
			var context = DbFactory.CreateDbContext();
			Contact contatto = new Contact
				{
					tipoContatto = tipoContatto,
					utente = new Utente()
				};
			context.Contacts.Add(contatto);
			context.SaveChanges();
			context.Dispose();
			//await JS.InvokeVoidAsync("console.log", JsonSerializer.Serialize(contatto));
		}
		finally
		{
			
		}
	}
}
