@page "/page"
@namespace Components.Pages
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using Rubrica.helper
@using Rubrica.Data
@inject IJSRuntime JS
@inject IDbContextFactory<DataContext> DbFactory
@inject State stato

<EditForm Model="@tipoContatto" OnValidSubmit="@Submit">
	<p>
		<label for="telefono" >Telefono: </label>
		<input id="telefono" @bind-value="tipoContatto.telefono"/>
	</p>
	<p>
		<label for="email">Email: </label>
		<input id="email" @bind-value="tipoContatto.email"/>
	</p>

	<button type="submit" disabled="@loggato">submit</button>
</EditForm>

@code {
	private TipoContatto tipoContatto = new TipoContatto();
	private bool loggato = true;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		if (stato.utenteLoggato != null)
		{
			loggato = false;
		}
	}

	private void Submit()
	{
		try
		{
			if(!loggato){
				var context = DbFactory.CreateDbContext();
				Contact contatto = new Contact();
				tipoContatto.contacts.Add(contatto);
				context.TipoContatto.Add(tipoContatto);
				stato.utenteLoggato.contatti.Add(contatto);
				context.Utente.Update(stato.utenteLoggato);
				context.SaveChanges();
				context.Dispose();
			}
			//await JS.InvokeVoidAsync("console.log", JsonSerializer.Serialize(contatto));
		}
		finally
		{
			
		}
	}
}
