.data-label{
    font-size: medium;
    font-weight: bold;
}

.text-data {
    padding-left: 10px;
    float: right;
}

.contacts {
    display: flex;
    flex: 0 0 33%;
    margin-top: 13px;
}

.contact-card{
    max-width: fit-content;
    display: flex;
    align-self: center;
}

.user-img{
    max-width: 100%;
    max-height: 50%
}

.mycontainer {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}